:root{
    --c-genel:#212353;
    --c-span:#4B5D68; 
}
body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180deg,  #F6FAFD 0%, #FFFFFF 19.4%);
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 50px 240px 50px 240px;
  
}
.button{
        display: flex;
        align-items: center;
        border-radius: 50px;
        line-height: 160%;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        height: 60px;
        padding: 17px 69px 17px 29px;
        transition: 400ms;
        text-decoration: none;
        &:hover{
            cursor: pointer;
            
        }  
    
}   
.title{
    color: var(--c-genel);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    display: flex;
    align-items: center;
}

desc{
    color: var(--c-span);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical; 
        overflow:hidden;
    
}
