:root{
    --c-genel:#212353;
    --c-span:#4B5D68; 
}
body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180deg,  #F6FAFD 0%, #FFFFFF 19.4%);
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 50px 240px 50px 240px;
  
}
.button{
        display: flex;
        align-items: center;
        border-radius: 50px;
        line-height: 160%;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        height: 60px;
        padding: 17px 69px 17px 29px;
        transition: 400ms;
        text-decoration: none;
        &:hover{
            cursor: pointer;
            
        }  
    
}   
.title{
    color: var(--c-genel);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    display: flex;
    align-items: center;
}

desc{
    color: var(--c-span);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical; 
        overflow:hidden;
    
}
.cardbaslik{
    color:var(--c-genel);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 49px;
    

}

.carddesc{
    color: var(--c-span);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding-top:20px ;
    display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical; 
        overflow:hidden;
    
}

.header{
    margin-top: 42px;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
           flex-direction: column;
    .nav-wrap{
        
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .nav{
      
        
        
        &__img{
            display: inline-block;
            padding-top: 12px;
            margin: 0;
            margin-right: 121px;
        }
        

        &__item{
                
                color: var(--c-span);
                font-family:var(--f-span) ;
                font-style: normal;
                font-weight: 500px;
                font-size: 16px;
                line-height: 160%;
                padding-top: 15px;
                text-decoration: none;

                &:not(:last-of-type){
                    margin-right: 40px;
                }
                

                &:hover{
                    color: var(--c-genel);
                    font-family: var(--f-baslik);
                    font-weight: 900;
                    cursor: pointer;
                }
                

        }

        &__item--active{
                        color: var(--c-genel);
                        font-weight: 900;
                        pointer-events: none;

        }
                   
       
    }
    .button{
        
        margin: 15px;
        &--color{
            color: var(--c-genel);
        }
        
        &--bc{
            background: #FFFFFF;
        } 
        
        &--box-s{
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
        }
        
        text-align: center;
        position: relative;
        letter-spacing: 0.005em;

        &:hover{
            border: 1px solid #9C69E2;
        }    
        
        &__çizgi{
            margin-left: 42px;
            color: #9C69E2;
            font-size: 30px;
            &:hover{
                font-size: 35px;
            }
            
        }
    }
        
} 
.section1{
    width:100%;
    position: relative;
     display: flex;
           flex-direction: column;
    .title{
        
        align-items: center;
        margin-right:170px;
        font-size: 80px;
        line-height: 110%;
        text-align: left;
    }
    
    
    .desc{
      margin-right:470px;
        text-align: left;
       
    }

    
    .button{
        background: #9C69E2;
        
        &--color{
            color: #FFFFFF;
        }
        
        &--font-size{
            font-size: 18px;
        }
       
        padding-top: 16px;
        padding-bottom: 17px;
        padding-right: 37px;
        padding-left: 37px;
        width: 180px;
        &:hover{
            cursor: pointer;
            background: #b5d4e9;
            border: 3px solid #90cc74 ;     
        }
    }     
    &__img{
       position: absolute;
       margin-top: -380px;
        margin-left: 150px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 15%;
        opacity: 0.6;

    }

}    





