:root{
    --c-genel:#212353;
    --c-span:#4B5D68; 
}
body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(180deg,  #F6FAFD 0%, #FFFFFF 19.4%);
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 50px 240px 50px 240px;
  
    }
    